@model AudioProntuario.Models.Audio

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Audio</h4>

        <button type="button" id='btn'>Novo Audio</button>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
    	$(function(){
    		navigator
    		    .mediaDevices
    			.getUserMedia({ audio: true })
    			.then( stream => {
    				mediaRecorder = new MediaRecorder(stream)
    				let chunks = []
    				mediaRecorder.ondataavailable = data => {
    					chunks.push(data.data)
    				}
    				mediaRecorder.onstop = () => {
    					const blob = new Blob(chunks, {type: 'audio/ogg; code=opus'})
    					const reader = new window.FileReader()
                        reader.readAsDataURL(blob)
    					reader.onloadend = () => {
    				    //Colocar o POST no comando abaixo
                            const audio = document.createElement('audio')
                            audio.src = reader.result
                            audio.controls = true
                            alert(reader.result)
                            $('body').append(audio)
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("SalvarAudio")',
                                data: {
                                    'base64': reader.result
                                }
                            })
    					}
    				}
    			}, err => {
    				alert('Você deve permitir o audio')
    			})
    			$('#btn').click(function(){
    				if($(this).text() === 'Start'){
    					mediaRecorder.start()
    					$(this).text('Stop')
    				}
    				else{
    					mediaRecorder.stop()
    					$(this).text('Start')
    				}
    			})
    	})
    </script>
}
